*{
    margin: 0;
    margin-top: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

span{
    margin-right: 100px;
    border: 1px solid black;
    font-size: 8px;
    padding: 2px 15px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 8px ;
    font-weight: bold;

}

h4{
    text-transform: uppercase;
    font-weight: 100;
}

h1{
    text-transform: uppercase;
    font-size: 34px;
    text-align: center;
    
}
button{
    border: solid black 1px;
    background-color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

p{
    margin: 0px 17%;
}